# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/Source/GeomindMe/packages/YLAD.2.0.0/YLAD.2.0.0.nupkg
/Source/GeomindMe/packages/YLAD.2.0.0/lib/sl40-wp71/YourLastAboutDialog.dll
/Source/GeomindMe/packages/YLAD.2.0.0/lib/sl40-wp71/YourLastAboutDialog.xml
/Source/GeomindMe/packages/YLAD.2.0.0/readme.txt
/Source/GeomindMe/packages/YLAD.2.0.0/tools/Install.ps1