<MarketplaceDetails>
  <SmallAppTile>geomindme-logo-99x99.png</SmallAppTile>
  <LargeAppTile>geomindme-logo-173x173.png</LargeAppTile>
  <PCAppTile>geomindme-logo-200x200.png</PCAppTile>
  <ScreenShots>;;;screenshot1.png;screenshot6.png;screenshot4.png;screenshot8.png;screenshot10.png;</ScreenShots>
</MarketplaceDetails>